@import url('https://fonts.googleapis.com/css?family=Lato|Pangolin')

/* COMMON STYLES */

html, body
  box-sizing: border-box

body
  font-family: 'Lato', sans-serif
  color: #aab1be
  background-color: #272b34

h1, h2, h3
  color: #d19a66

ul
  list-style-type: circle

/* MENU */

.active
  margin-top: 0.1em
  border-radius: 7px
  border-left: 4px solid #568af2
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0
  background-color: #272b34

.desktop-menu
  display: flex
  justify-content: center
  padding: 0
  list-style-type: none
  text-transform: uppercase
  font-family: 'Pangolin', cursive
  font-size: 1.2em
  background-color: #16181d

  .desktop-menu-item
    padding: 1em 2em
    cursor: default

    .desktop-menu-item-link
      color: #aab1be

    .desktop-menu-item-link:hover
      text-decoration: none
      cursor: pointer
      color: #de6b74

/* MEDIA QUERIES */

@media (max-width: 768px)
  .desktop-menu
    display: none
